.card-details {
   
	background-color: white;
    width: 1050px;
    margin-left: 100px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 25px;
}

.card-details-wrapper {
    padding: 15px 15px;
    width: 100%;
    border-radius: 15px;
    background-color: #ECF1F7;
}

.card-details-wrapper span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.card-details-wrapper h1 {
    color: #2F5288;
}

.card-details-wrapper p {
    color: #2F5288;

    margin-block-start: 0px;
    margin-block-end: 0px;
}

.card-details-wrapper h3 {
    color: #2F5288;
    margin-right: 5px;
    font-size: 15px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: 600;
}

.exit-button {
    top: 5%;
    left: 300px;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
}